body {
    font-family:  'Lucida Sans', sans-serif;
    background-color: rgba(133, 54, 8, 0.952);
    text-align: center;
}
h1 {
    font-size: 40px;
    text-align: center;
    color: black;
}
button {
    border: none;
    border-radius: 3px;
    color: rgba(189, 116, 75, 0.952);
    background:  rgba(49, 48, 43, 0.925);
    font-size: 20px;
    padding: 5px;
    width: 5.5cm;
    height: 1cm;
    
    font-weight: bold;
    margin: 3px;
    font-family:  'Bahnschrift', sans-serif;
   
    
}
i {
    display: block;
    font-weight: bold;
    color: aliceblue;
    font-size: larger;
}
p {
    display: block;
    font-weight: bold;
    color: aliceblue;
    font-size: large;
    font-family:  'Bahnschrift', sans-serif;
}